# Ignore all .json files
*.json

# Ignoe all .pt files
*.pt
*.command
*.out
*.png
*.wav

# Ignore all files in the build/ directory
test_zeroed_tensors/
wandb/
libritts_data/
data/
handwritten_digits/
mnist_data/
preloaded_data/
testing/
noise_train/
wandb_osh_command_dir/
noise_data/
noise_dataset/


# Ignore .DS_Store file (MacOS specific)
.DS_Store
.wandb_osh_command_dir/

# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore environment files
.env
